body, html {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:991px){
    .separadores {
        display: none;
    }
}

.titulo {
    padding: 50px 0 20px 0;
}

.titulo h1 {
    font-size: 50px;
    font-weight: bold;
}

.fecha {
    padding-bottom: 20px;
}

.enNegrilla {
    font-weight: bold;
}

article p {
    font-size: 20px;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    text-align: left;
}

.imagenes img {
    width: auto;
    max-width: 100%;
}

.imagenes span {
    width: 100%;
    padding: 20px;
    font-size: 15px;
}

.centrado {
    text-align: center;
}

.sinPuntos {
    list-style: none;
}

footer {
    padding: 20px 50px 20px 50px;
    margin-top: 50px;
}

.card:hover {
    background-color: rgba(128, 128, 128, 0.342);
}

.references {
    margin: 50px 0;
}